


<button onclick="addAccount(event)">Add Account</button>
<script>

    function addAccount(event) {
        var request = new XMLHttpRequest();
        request.open('POST', "http://localhost:53909/api/account/add", true);
        request.setRequestHeader('Content-Type', 'application/json');
        request.setRequestHeader('Access-Control-Allow-Origin', '*');
        request.setRequestHeader('Accept', '*/*');
        request.send(JSON.stringify({ Email: "dasdasd@asda.ci", PasswordHash: "passpass", isVerified: false }));

        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                alert("Eklendi")
            }
        }
    }
</script>



